.game-carousel-card .title h1 {
    font-family: var(--body-font-family);
    font-weight: var(--font-weight-medium);
    font-size: 2rem;
    line-height: 2rem;
    letter-spacing: 0;
    text-align: center;
}

.game-carousel-card .carousel-card-item-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.game-carousel-card .carousel-card-item-title p {
    font-family: var(--body-font-family);
    font-weight: var(--font-weight-bold);
    font-size: 1.75rem;
    line-height: 2.0294rem;
    letter-spacing: 0;
    text-align: center;
    color: var(--color-dark-red);
    background-color: var(--color-white);
    border-radius: 1.4631rem;
    padding: 0 1.5rem;
    width: fit-content;
    z-index: 1;
}

.game-carousel-card .carousel-card-item-title p:last-child {
    padding: 0 1rem;
    margin-top: -0.6rem;
    z-index: 0;
}

.game-carousel-card .carousel-card-list {
    display: flex;
    overflow: scroll clip;
    scrollbar-width: none;
    gap: 1.6875rem;
    margin-top: 2.3125rem;
}

.game-carousel-card .carousel-card-item {
    flex: 0 0 15.875rem;
    scroll-snap-align: start;
    position: relative;
    height: 24.8125rem;
    list-style-type: none;
    border-radius: 1.75rem;
    background: var(--color-dark-red);
    padding: 1.0625rem 0 0.6875rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
}

.game-carousel-card .carousel-card-item-image {
    position: absolute;
    bottom: 0;
    right: 0;
    display: flex;
}

.game-carousel-card .carousel-card-cta {
    width: fit-content;
    opacity: 1;
    gap: 0.625rem;
    border-radius: 6.25rem;
    background-color: var(--color-white);
    text-align: center;
    display: inline-flex;
    position: relative;
}

.game-carousel-card .carousel-card-cta .cta-link {
    font-family: var(--body-font-family);
    font-weight: var(--font-weight-bold);
    font-size: 1rem;
    line-height: 1.25rem;
    letter-spacing: 0;
    text-align: center;
    color: var(--color-dark-red);
    padding: 1.125rem 3.5rem 1.125rem 1.375rem;
    text-decoration: none;
}

.game-carousel-card .carousel-card-cta .cta-link::after {
    content: "";
    background-image: url("../../icons/right-bg-red-arrow.svg");
    display: flex;
    top: 50%;
    right: 1.375rem;
    transform: translateY(-50%);
    position: absolute;
    width: 1.5rem;
    height: 1.5rem;
}

.game-carousel-card .indicator-container {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    gap: 0.5rem;
}

.game-carousel-card .indicator-item {
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
    border: none;
    background-color: var(--color-grey-100);
    cursor: pointer;
    transition: background-color 0.3s ease;
    padding: 0;
}

.indicator-item:hover,
.indicator-item:focus,
.indicator-item:active {
    background-color: var(--color-grey-100);
}

.indicator-item.active-indicator {
    background-image: url("../../icons/star.svg");
    background-color: transparent;
}
