/*
 * Copyright 2020 Adobe. All rights reserved.
 * This file is licensed to you under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License. You may obtain a copy
 * of the License at http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software distributed under
 * the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
 * OF ANY KIND, either express or implied. See the License for the specific language
 * governing permissions and limitations under the License.
 */
 
:root {
  /* colors */
  --background-color: white;
  --light-color: #f8f8f8;
  --dark-color: #505050;
  --text-color: #131313;
  --link-color: #3b63fb;
  --link-hover-color: #1d3ecf;

  /* Neutral Colors */
  --color-grey-100: #b8b8b8;

  /* Common Colors */
  --color-dark-red: #BB1F3B;
  --color-white: #fff;

  /* fonts */
  --body-font-family: 'Bricolage Grotesque', 'Nunito Sans', roboto, roboto-fallback, sans-serif;
  --heading-font-family: 'Bricolage Grotesque', 'Nunito Sans', roboto-condensed, roboto-condensed-fallback, sans-serif;

  /* Font Weights */
    --font-weight-regular: 400;
    --font-weight-medium: 500;
    --font-weight-semibold: 600;
    --font-weight-bold: 700;
    --font-weight-heavy: 900;

  /* body sizes */
  --body-font-size-m: 1.375rem;   /* 22px */
  --body-font-size-s: 1.1875rem;  /* 19px */
  --body-font-size-xs: 1.0625rem; /* 17px */

  /* heading sizes */
  --heading-font-size-xxl: 3.4375rem; /* 55px */
  --heading-font-size-xl: 2.75rem;    /* 44px */
  --heading-font-size-l: 2.125rem;    /* 34px */
  --heading-font-size-m: 1.6875rem;   /* 27px */
  --heading-font-size-s: 1.5rem;      /* 24px */
  --heading-font-size-xs: 1.375rem;   /* 22px */

  /* nav height */
  --nav-height: 4rem; /* 64px */
}

/* fallback fonts */
@font-face {
  font-family: roboto-condensed-fallback;
  size-adjust: 88.82%;
  src: local('Arial');
}

@font-face {
  font-family: roboto-fallback;
  size-adjust: 99.529%;
  src: local('Arial');
}

@media (width >= 56.25rem) { /* 900px */
  :root {
    /* body sizes */
    --body-font-size-m: 1.125rem;   /* 18px */
    --body-font-size-s: 1rem;       /* 16px */
    --body-font-size-xs: 0.875rem;  /* 14px */

    /* heading sizes */
    --heading-font-size-xxl: 2.8125rem; /* 45px */
    --heading-font-size-xl: 2.25rem;    /* 36px */
    --heading-font-size-l: 1.75rem;     /* 28px */
    --heading-font-size-m: 1.375rem;    /* 22px */
    --heading-font-size-s: 1.25rem;     /* 20px */
    --heading-font-size-xs: 1.125rem;   /* 18px */
  }
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  display: none;
  margin: 0;
  color: var(--text-color);
  font-family: var(--body-font-family);
  font-size: var(--body-font-size-m);
  line-height: 1.6;
  background: url('../images/background-img.png') no-repeat center center fixed;
  background-size: cover;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  letter-spacing: 0;
}

body.appear {
  display: block;
}

header {
  height: var(--nav-height);
}

header .header,
footer .footer {
  visibility: hidden;
}

header .header[data-block-status="loaded"],
footer .footer[data-block-status="loaded"] {
  visibility: visible;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0.8em;
  margin-bottom: 0.25em;
  font-family: var(--heading-font-family);
  font-weight: 600;
  line-height: 1.25;
  scroll-margin: 2.5rem;
}

h1 { font-size: var(--heading-font-size-xxl); }
h2 { font-size: var(--heading-font-size-xl); }
h3 { font-size: var(--heading-font-size-l); }
h4 { font-size: var(--heading-font-size-m); }
h5 { font-size: var(--heading-font-size-s); }
h6 { font-size: var(--heading-font-size-xs); }

p,
dl,
ol,
ul,
pre,
blockquote {
  margin-top: 0.8em;
  margin-bottom: 0.25em;
}

code,
pre {
  font-size: var(--body-font-size-s);
}

pre {
  padding: 1rem;          /* 16px */
  border-radius: 0.5rem;  /* 8px */
  background-color: var(--light-color);
  overflow-x: auto;
  white-space: pre;
}

main > div {
  margin: 2.5rem 1rem; /* 40px 16px */
}

input,
textarea,
select,
button {
  font: inherit;
}

/* links */
a:any-link {
  color: var(--link-color);
  text-decoration: none;
  overflow-wrap: break-word;
}

a:hover {
  color: var(--link-hover-color);
  text-decoration: underline;
}

/* buttons */
a.button:any-link,
button {
  box-sizing: border-box;
  display: inline-block;
  max-width: 100%;
  margin: 0.75rem 0;       /* 12px */
  border: 0.125rem solid transparent; /* 2px */
  border-radius: 2.4em;
  padding: 0.5em 1.2em;
  font-family: var(--body-font-family);
  font-style: normal;
  font-weight: 500;
  line-height: 1.25;
  text-align: center;
  text-decoration: none;
  background-color: var(--link-color);
  color: var(--background-color);
  cursor: pointer;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

a.button:hover,
a.button:focus,
button:hover,
button:focus {
  background-color: var(--link-hover-color);
  cursor: pointer;
}

button:disabled,
button:disabled:hover {
  background-color: var(--light-color);
  cursor: unset;
}

a.button.secondary,
button.secondary {
  background-color: unset;
  border: 0.125rem solid currentcolor; /* 2px */
  color: var(--text-color);
}

main img {
  max-width: 100%;
  width: auto;
  height: auto;
}

.icon {
  display: inline-block;
  height: 1.5rem;
  width: 1.5rem;
}

.icon img {
  height: 100%;
  width: 100%;
}

/* sections */
main > .section {
  max-width: 23.4375rem;
  margin: auto;
  background-color: var(--color-white);
}

main > .section > div {
  padding: 0 1rem; /* 24px */
}

main > .section:first-of-type {
  margin-top: 0;
}

@media (width >= 56.25rem) { /* 900px */
  main > .section > div {
    padding: 0 1rem;
  }
}

/* section metadata */
main .section.light,
main .section.highlight {
  background-color: var(--light-color);
  margin: 0;
  padding: 2.5rem 0;
}
